*

!config/
!mods/
!resourcepacks/
!CustomSkinLoader/

!kubejs/
!kubejs/server_scripts/
!kubejs/server_scripts/recipes/
!kubejs/startup_scripts/

!defaultconfigs/
!defaultconfigs/ftbchunks/
!defaultconfigs/ftblibrary/
!defaultconfigs/ftbquests/
!defaultconfigs/ftbultimine/


!config/*
!mods/*
!resourcepacks/*
!CustomSkinLoader/*
!defaultconfigs/*

!kubejs/*
!kubejs/server_scripts/*
!kubejs/server_scripts/recipes/*
!kubejs/startup_scripts/*

!defaultconfigs/*
!defaultconfigs/ftbchunks/*
!defaultconfigs/ftblibrary/*
!defaultconfigs/ftbquests/*
!defaultconfigs/ftbultimine/*


!.gitignore
!options.txt
!README.md
!CHANGELOG.md
!LICENSE