*

!config/
!kubejs/
!kubejs/server_scripts/
!kubejs/server_scripts/recipes/
!mods/
!resourcepacks/
!CustomSkinLoader/
!defaultconfigs/

!config/*
!kubejs/*
!kubejs/server_scripts/*
!kubejs/server_scripts/recipes/*
!mods/*
!resourcepacks/*
!CustomSkinLoader/*
!defaultconfigs/*

!.gitignore
!options.txt
!README.md
!LICENSE