.idea
.vscode
assets
backups
ChatImageCache
crash-reports
CustomSkinLoader
defaultconfigs
downloads
EMC & FE ++-natives
libraries
local
logs
modernfix
patchouli_books
PCL
replay_recordings
saves
schematics
screenshots
tacz
tacz_backup
xaero
XaeroWaypoints_BACKUP240807
authlib-injector.log
EMC & FE ++.jar
EMC & FE ++.json
hs_err_pid9308.log
launcher_profiles.json
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
wd_next.txt

!kubejs/assets/
!kubejs/assets/*